/*detail*//*detail*/
* {
    font-family: 'Noto Serif KR', serif;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}

.main-header .my-info {
    display: flex;
    align-items: center;
}

.wrap {
    background: #fff;
    width: 1000px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 120px;
}

.detail-box {
    display: flex;
    margin-bottom: 20px;
}


.detail-side {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-image {
    min-width: 320px;
    height: 280px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.likes-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.likes-box {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail {
    width: 600px;
    /*height: 320px;*/
}

@media (max-width: 1020px) {
    .wrap {
        width: 100%;
        padding: 0 40px;
    }

    .detail-box {
        flex-direction: column;
        align-items: center;
        margin-bottom: none;
    }

    .detail-image {
        justify-content: center;
        align-center;
        width: 300px;
        height: 240px;
        margin: 0 auto;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .wrap {
        width: 100%;
        padding: 0 20px;
    }

    .detail-box {
        flex-direction: column;
    }

    .detail-image {width: 100%;}
    .detail {width: 100%;}
}

/*-----------------------------------*/
.review-form {
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
}

.reviews {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #d3d3d3;


}

/*---------------------------*/
.image {
    width: 300px;
    height: 240px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 30px;
}

.title-detail {
    font-size: 30px;
}

.sub-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.author {
    padding-left: 50px;
}

.genre {
    color: gray;
}

.summary {
    var(--font-size-md);
    padding: 50px;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 26px;
}

.heart {
    color: red;
    font-size: 20px;
}

/*----------------------*/
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    gap: 15px;
    padding: 10px 20px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

@media (max-width: 768px) {
    .form {
        flex-direction: column;
    }
}

.review-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.review-container:not(:last-child) {
    margin-bottom: 5px;
}


.review-card {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px, rgba(0, 0, 0, 0.10) 0px 3px 3px;
    transition: height 250ms linear;
}

.review-card:hover {
    height: 99%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.form,
.review-card {
    background: #fff;
    margin: auto;
}

/*----------------------------------------*/
.form-contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    width: 78%;
}

.form-lbl {
    padding-left: 5px;
    font-size: 16px;
    font-weight: 600;
}

.textarea {
    width: 100%;
    height: 70px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    var(--fond-size-md);
    transition: background-color 200ms linear;
}

.textarea:hover {
    background-color: #e3f2fd;
}

.form-btn {
    width: 100px;
    height: 74px;
    border-radius: 5px;
    background-color: #007BE0;
    color: #fff;
    /*color: var(--main-color);*/
    /*border: 1px solid #b5b5b5;*/
    margin: 36px 0px 10px;
    font-size: 17px;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

@media (max-width: 768px) {
    .form-contents {
        width: 100%;
        padding-top: 10px;
    }

    .btn-container {
        width: 100%;
    }

    .form-btn {
        height: 40px;
        width: 100%;
        margin-top: 10px;
    }
}

.form-btn:hover {
    background-color: var(--dark-blue);
    color: white;
}

/*----------------------------------------*/

.review-name {
    padding: 30px;
}

.review-text {
    margin-bottom: 0px;
}

.delete {
    background-color: #90caf9;

}

.delete-box {
    margin: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: #fff;
}

.home {
    font-size: 30px;
    color: #003770;
}

.btn-to-toon {
    margin-left: 10px;
    height: 32px;
    border: 1px solid #455a64;
    border-radius: 5px;
    color: #455a64;
    font-size: 16px;
    background-color: #fff;
    font-weight: 600;
    transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-to-toon:hover {
    border-color: var(--main-color);
    color: var(--main-color);
    /*color: white;*/
    /*background-color: #82b3c9;*/


}
