/*join*/
html{
    margin: 0px;
    padding: 0px;
}
.login-wrap{
    background-color: var(--main-color);
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0px;
    padding: 0px;

}

.login-title,
.login-subtitle{
    color: var(--main-color);
}


.join-header{
    padding: 45px 100px 45px 100px;
    background-color: white;
    width: 100vw;
    height: 20vh;
    postion: absolute;
    top: 0;
    left: 0;
    margin: 0;
}



.join-container{
    margin: auto 0;

}


.box{
    max-width:480px;
    margin:30px auto 0px auto;
}

.input-check-box,
.password-box {
    margin-bottom: 3px;
    border-bottom: solid 2px white;
    padding-bottom: 2px;
}

input:focus::placeholder{
    color:transparent;
}

input::placeholder{
    color: white;
    font-size: var(--font-size-sm);
}

.join-check-input{
    height: 40px;
    padding-left: 40px;
}

.join-password-input {
    width: 450px;
    height: 40px;
    padding-left: 40px;
}

.id-field,
.nickname-field {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.id-check-box,
.nickname-check-box{
    width: 74%;
}

.btn-check{
    width: 24%;
}

.join-btn {
    padding-bottom: 20px;
    margin-top: 15px;
    color: white;
    font-size: var(--font-size-sm);

}

.bottom-btns{
    margin-top: 15px;
}

.login-p {
    margin-bottom: 15px;
}


.is-blue{
    background-color: var(--main-color);
    color: white;
    border-bottom-color: white;
    box-shadow: none;
}

.is-white{
    background-color: white;
    color: var(--main-color);
    border-bottom-color: var(--main-color);
}

.is-shadow{
    box-shadow: var(--shadow);
}

.auto-complete{
    -webkit-box-shadow: 0 0 0 1000px white inset;
    /*-webkit-text-fill-color: var(--main-color) !important;*/
}

.off-auto-complete{
    -webkit-box-shadow: 0 0 0 1000px var(--main-color) inset;
    -webkit-text-fill-color: #fff !important;
}